
.rcm{
    margin-top: 80px;
    margin-bottom: 100px;
}
.rcm .r1{
    justify-content: center;
}
.rcm .r1 .title{
    font-size: 40px;
    font-weight: 500;
}
.rcm .r2{
    margin-top: 30px;
}
.rcm .r2 .c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rcm .r2 .c .img{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}
.rcm .r2 .c .img img{
    width: 325px;
    height: auto;
    position: absolute;
    left: -33px;
}
.rcm .r2 .c .text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* GAME-1 */

.game-1 .img-game{
    margin-top: 0px;
    background-image: url(../images/game/game-1/SeanYoungSG\ -\ 1692670469911003388.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -300px;
    height: 600px;
}
.game-1 .img-game .img{
    margin-top: 80px;
}
.game-1 .img-game .col-12 .text{
    margin-top: -50px;
}



.game-1 .main{
    margin-top: -200px;
}
.game-1 .main .r1{
    background-image: url(../images/game/game-1/Group\ 136.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}
.game-1 .main .r1 .text{
    padding-left: 60px;
    text-align: start;
    margin-top: 30px;
}
.game-1 .main .r1 .text .title{
    font-size: 40px;
}
.game-1 .main .r1 .text .disc{
    font-size: 15px;
    line-height: 30px;
}
.game-1 .main .r1 .text .disc-2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}
.game-1 .main .r2{
    position: absolute;
    bottom: -5%;
    left:46%;
}
.game-1 .main .r2 .button-2{
    display: flex;
    width: 310px;
    height: 55px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #6A7C5F;
    color: #908AA1;
    font-size: 25px;
    transition: all 0.2s;
    cursor: not-allowed;
    border: var(--color-back) solid 5px;
}
.game-1 .main .r2 .button-2 .text-button{
    display: flex;
    font-weight: 600;
}
.game-1 .main .r2 .button-2 .text-button .icon{
    margin-left: 10px;
}

.game-1 .section-games .pic-1{
    background-image: url("../images/game/game-1/1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 140%;
    border-radius: 15px;
}
.game-1 .section-games .pic-2{
    background-image: url("../images/game/game-1/2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 140%;
    border-radius: 15px;
}

.game-1 .screen{
    margin-top: 180px;
}
.game-1 .screen .col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-1 .screen .col-12 .text{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -20px;
}
.game-1 .screen .r2{
    margin-top: 50px;
}

.game-1 .screen .r2 .cot-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-1 .screen .r2 .cot-1 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.game-1 .screen .r2 .cot-1 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-1 .screen .r2 .cot-1 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}
.game-1 .screen .r2 .cot-1 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-1 .screen .r2 .cot-2 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.game-1 .screen .r2 .cot-2 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-1 .screen .r2 .cot-2 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.game-1 .screen .r2 .cot-2 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-1 .screen .r2 .img-1 img:hover{
    height: 500px;
    width: auto;
    left: -100px;
}
.game-1 .screen .r2 .img-2 img:hover{
    height: 300px;
    width: auto;
}
/* END GAME-1 */

/* GAME-2 */
.game-2 .img-game{
    margin-top: 0px;
    background-image: url(../images/game/game-2/intro\ gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -300px;
    height: 600px;
}
.game-2 .img-game .img{
    margin-top: 80px;
}
.game-2 .img-game .col-12 .text{
    margin-top: -50px;
}



.game-2 .main{
    margin-top: -200px;
}
.game-2 .main .r1{
    background-image: url(../images/game/game-2/Group\ 139.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}
.game-2 .main .r1 .text{
    padding-left: 60px;
    text-align: start;
    margin-top: 30px;
}
.game-2 .main .r1 .text .title{
    font-size: 40px;
}
.game-2 .main .r1 .text .disc{
    font-size: 15px;
    line-height: 30px;
}
.game-2 .main .r1 .text .disc-2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.game-2 .main .r2{
    width: 40%;
    display: flex;
    position: absolute;
    left: 33%;
    bottom: -30px;
    align-items: center;
    justify-content: space-between ;
}
.game-2 .main .r2 .or{
    font-size: 30px;
    font-weight: 600;
}
.game-2 .main .r2 .button{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 60px;
    background-color: var(--color-button);
    border-radius: 40px;
    position: relative;
    border: var(--color-back) solid 5px;
}
.game-2 .main .r2 .button .text-button{
    position: relative;
    z-index: 1;
    font-weight: 800;
    font-size: 20px;
    margin-right: 40px;
    transition: all 1s;
}
.game-2 .main .r2 .button .mui-ten{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 100%;
    border-radius: 50%;
    color: black;
    background-color: var(--color-button-disc);
    position: absolute;
    right: 0;
    transition: all 0.5s;
    font-size: 25px;
}
.game-2 .main .r2 .bt2 .mui-ten{
    font-size: 30px;
}
.game-2 .main .r2 .button:hover > .mui-ten{
    width: 100%;
    color: var(--color-button-disc);
    border-radius: 40px;
}
.game-2 .main .r2 .button:hover > .text-button{
    margin-right: 0px;
}

.game-2 .section-games .pic-1{
    background-image: url("../images/game/game-2/lw\ screenshot.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 100%;
    border-radius: 15px;
}
.game-2 .section-games .pic-2{
    background-image: url("../images/game/game-2/lw\ screenshot\ 4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 100%;
    border-radius: 15px;
}

.game-2 .trailer{
    margin-top: 80px;
}
.game-2 .trailer .r1 .col-12{
    display: flex;
    justify-content: center
}

.game-2 .screen{
    margin-top: 180px;
}
.game-2 .screen .col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-2 .screen .col-12 .text{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -20px;
}
.game-2 .screen .r2{
    margin-top: 50px;
}

.game-2 .screen .r2 .cot-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-2 .screen .r2 .cot-1 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.game-2 .screen .r2 .cot-1 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-2 .screen .r2 .cot-1 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}
.game-2 .screen .r2 .cot-1 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-2 .screen .r2 .cot-2 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.game-2 .screen .r2 .cot-2 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-2 .screen .r2 .cot-2 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.game-2 .screen .r2 .cot-2 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-2 .screen .r2 .img-1 img:hover{
    height: 500px;
    width: auto;
    left: -100px;
}
.game-2 .screen .r2 .img-2 img:hover{
    height: 300px;
    width: auto;
}
/* END GAME-2 */

/* GAME-3 */
.game-3 .img-game{
    margin-top: 0px;
    background-image: url(../images/game/game-3/intro\ gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.game-3 .img-game .img{
    margin-top: 80px;
}
.game-3 .img-game .col-12 .text{
    margin-top: -50px;
}



.game-3 .main{
    margin-top: -200px;
}
.game-3 .main .r1{
    background-image: url(../images/game/game-3/Group\ 140.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}
.game-3 .main .r1 .text{
    padding-left: 60px;
    text-align: start;
    margin-top: 30px;
}
.game-3 .main .r1 .text .title{
    font-size: 40px;
}
.game-3 .main .r1 .text .disc{
    font-size: 15px;
    line-height: 30px;
}
.game-3 .main .r1 .text .disc-2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.game-3 .main .r2{
    width: 40%;
    display: flex;
    position: absolute;
    left: 33%;
    bottom: -30px;
    align-items: center;
    justify-content: space-between ;
}
.game-3 .main .r2 .or{
    font-size: 30px;
    font-weight: 600;
}
.game-3 .main .r2 .button{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 60px;
    background-color: var(--color-button);
    border-radius: 40px;
    position: relative;
    border: var(--color-back) solid 5px;
}
.game-3 .main .r2 .button .text-button{
    position: relative;
    z-index: 1;
    font-weight: 800;
    font-size: 20px;
    margin-right: 40px;
    transition: all 1s;
}
.game-3 .main .r2 .button .mui-ten{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 100%;
    border-radius: 50%;
    color: black;
    background-color: var(--color-button-disc);
    position: absolute;
    right: 0;
    transition: all 0.5s;
    font-size: 25px;
}
.game-3 .main .r2 .bt2 .mui-ten{
    font-size: 30px;
}
.game-3 .main .r2 .button:hover > .mui-ten{
    width: 100%;
    color: var(--color-button-disc);
    border-radius: 40px;
}
.game-3 .main .r2 .button:hover > .text-button{
    margin-right: 0px;
}
.game-3 .section-games .pic-1{
    background-image: url("../images/game/game-3/k2\ screenshots\ 1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 100%;
    border-radius: 15px;
}
.game-3 .section-games .pic-2{
    background-image: url("../images/game/game-3/k2\ screenshot\ 5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 100%;
    border-radius: 15px;
}

.game-3 .trailer{
    margin-top: 80px;
}
.game-3 .trailer .r1 .col-12{
    display: flex;
    justify-content: center
}

.game-3 .screen{
    margin-top: 180px;
}
.game-3 .screen .col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-3 .screen .col-12 .text{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -20px;
}
.game-3 .screen .r2{
    margin-top: 50px;
}

.game-3 .screen .r2 .cot-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-3 .screen .r2 .cot-1 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.game-3 .screen .r2 .cot-1 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-3 .screen .r2 .cot-1 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}
.game-3 .screen .r2 .cot-1 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-3 .screen .r2 .cot-2 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.game-3 .screen .r2 .cot-2 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-3 .screen .r2 .cot-2 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.game-3 .screen .r2 .cot-2 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-3 .screen .r2 .img-1 img:hover{
    height: 500px;
    width: auto;
    left: -100px;
}
.game-3 .screen .r2 .img-2 img:hover{
    height: 300px;
    width: auto;
}
/* END GAME-3 */

/* GAME-4 */
.game-4 .img-game{
    margin-top: 0px;
    background-image: url(../images/game/game-3/intro\ gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.game-4 .img-game .img{
    margin-top: 80px;
}
.game-4 .img-game .col-12 .text{
    margin-top: -50px;
}



.game-4 .main{
    margin-top: -200px;
}
.game-4 .main .r1{
    background-image: url(../images/game/game-3/Group\ 140.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}
.game-4 .main .r1 .text{
    padding-left: 60px;
    text-align: start;
    margin-top: 30px;
}
.game-4 .main .r1 .text .title{
    font-size: 40px;
}
.game-4 .main .r1 .text .disc{
    font-size: 15px;
    line-height: 30px;
}
.game-4 .main .r1 .text .disc-2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.game-4 .main .r2{
    width: 40%;
    display: flex;
    position: absolute;
    left: 33%;
    bottom: -30px;
    align-items: center;
    justify-content: space-between ;
}
.game-4 .main .r2 .or{
    font-size: 30px;
    font-weight: 600;
}
.game-4 .main .r2 .button{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 60px;
    background-color: var(--color-button);
    border-radius: 40px;
    position: relative;
    border: var(--color-back) solid 5px;
}
.game-4 .main .r2 .button .text-button{
    position: relative;
    z-index: 1;
    font-weight: 800;
    font-size: 20px;
    margin-right: 40px;
    transition: all 1s;
}
.game-4 .main .r2 .button .mui-ten{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 100%;
    border-radius: 50%;
    color: black;
    background-color: var(--color-button-disc);
    position: absolute;
    right: 0;
    transition: all 0.5s;
    font-size: 25px;
}
.game-4 .main .r2 .bt2 .mui-ten{
    font-size: 30px;
}
.game-4 .main .r2 .button:hover > .mui-ten{
    width: 100%;
    color: var(--color-button-disc);
    border-radius: 40px;
}
.game-4 .main .r2 .button:hover > .text-button{
    margin-right: 0px;
}
.game-4 .section-games .pic-1{
    background-image: url("../images/game/game-3/k2\ screenshots\ 1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 100%;
    border-radius: 15px;
}
.game-4 .section-games .pic-2{
    background-image: url("../images/game/game-3/k2\ screenshot\ 5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 100%;
    border-radius: 15px;
}

.game-4 .trailer{
    margin-top: 80px;
}
.game-4 .trailer .r1 .col-12{
    display: flex;
    justify-content: center
}

.game-4 .screen{
    margin-top: 180px;
}
.game-4 .screen .col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-4 .screen .col-12 .text{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -20px;
}
.game-4 .screen .r2{
    margin-top: 50px;
}

.game-4 .screen .r2 .cot-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-4 .screen .r2 .cot-1 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.game-4 .screen .r2 .cot-1 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-4 .screen .r2 .cot-1 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}
.game-4 .screen .r2 .cot-1 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-4 .screen .r2 .cot-2 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.game-4 .screen .r2 .cot-2 .img-2 img{
    height: 250px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-4 .screen .r2 .cot-2 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.game-4 .screen .r2 .cot-2 .img-1 img{
    height: 450px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-4 .screen .r2 .img-1 img:hover{
    height: 500px;
    width: auto;
    left: -100px;
}
.game-4 .screen .r2 .img-2 img:hover{
    height: 300px;
    width: auto;
}
/* END GAME-4 */

/* GAME-8 */
.game-8 .img-game{
    margin-top: 0px;
    background-image: url(../images/game/game-8/pk\ cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -300px;
    height: 600px;
}
.game-8 .img-game .img{
    margin-top: 80px;
}
.game-8 .img-game .col-12 .text{
    margin-top: -50px;
}

.game-8 .main{
    margin-top: -200px;
}
.game-8 .main .r1{
    background-image: url(../images/game/game-8/Group\ 137.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}
.game-8 .main .r1 .text{
    padding-left: 60px;
    text-align: start;
    margin-top: 30px;
}
.game-8 .main .r1 .text .title{
    font-size: 40px;
}
.game-8 .main .r1 .text .disc{
    font-size: 15px;
    line-height: 30px;
}
.game-8 .main .r1 .text .disc-2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}
.game-8 .main .r2{
    position: absolute;
    bottom: -5%;
    left: 46%;
}
.game-8 .main .r2 .button-2{
    display: flex;
    width: 310px;
    height: 55px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #6A7C5F;
    color: #908AA1;
    font-size: 25px;
    transition: all 0.2s;
    cursor: not-allowed;
    border: var(--color-back) solid 5px;
}
.game-8 .main .r2 .button-2 .text-button{
    display: flex;
    font-weight: 600;
}
.game-8 .main .r2 .button-2 .text-button .icon{
    margin-left: 10px;
}
.game-8 .screen .r2 .img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}
.game-8 .screen .r2 .img img{
    height: 220px;
    width: auto;
}
/* END GAME-8 */

/* GAME-9 */
.game-9 .img-game{
    margin-top: 0px;
    background-image: url(../images/game/game-9/intro\ gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -200px;
    height: 600px;
}
.game-9 .img-game .img{
    margin-top: 80px;
}
.game-9 .img-game .col-12 .text{
    margin-top: -50px;
}



.game-9 .main{
    margin-top: -200px;
}
.game-9 .main .r1{
    background-image: url(../images/game/game-9/Group\ 138.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}
.game-9 .main .r1 .text{
    padding-left: 60px;
    text-align: start;
    margin-top: 30px;
}
.game-9 .main .r1 .text .title{
    font-size: 40px;
}
.game-9 .main .r1 .text .disc{
    font-size: 15px;
    line-height: 30px;
}
.game-9 .main .r1 .text .disc-2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}
.game-9 .main .r2{
    position: absolute;
    bottom: -5%;
    left:46%;
}
.game-9 .main .r2 .button-2{
    display: flex;
    width: 310px;
    height: 55px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #6A7C5F;
    color: #908AA1;
    font-size: 25px;
    transition: all 0.2s;
    cursor: not-allowed;
    border: var(--color-back) solid 5px;
}
.game-9 .main .r2 .button-2 .text-button{
    display: flex;
    font-weight: 600;
}
.game-9 .main .r2 .button-2 .text-button .icon{
    margin-left: 10px;
}

.game-9 .screen{
    margin-top: 180px;
}
.game-9 .screen .col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-9 .screen .col-12 .text{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -20px;
}
.game-9 .screen .r2{
    margin-top: 50px;
}

.game-9 .screen .r2 .cot-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-9 .screen .r2 .cot-1 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.game-9 .screen .r2 .cot-1 .img-1 img{
    height: 700px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-9 .screen .r2 .cot-1 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}
.game-9 .screen .r2 .cot-1 .img-2 img{
    height: 650px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-9 .screen .r2 .cot-2 .img-2{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.game-9 .screen .r2 .cot-2 .img-2 img{
    height: 650px;
    width: auto;
    position: absolute;
    transition: all 1s;
}
.game-9 .screen .r2 .cot-2 .img-1{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.game-9 .screen .r2 .cot-2 .img-1 img{
    height: 850px;
    width: auto;
    position: absolute;
    left: -100px;
    transition: all 1s;
}
.game-9 .screen .r2 .img-1 img:hover{
    height: 900px;
    width: auto;
}
.game-9 .screen .r2 .img-2 img:hover{
    height: 800px;
    width: auto;
}
/* END GAME-9 */