.hide{
    display: none;
}


.mymodal{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}
.mymodal .modal_inner{
    display: flex;
    width: 590px;
    padding:  50px 80px;
    flex-direction: column;
    align-items: center;
    background-color: #B4E37A;
    border-radius: 30px;
    position: relative;
    top: 1%;
    margin: auto;
    animation: modalShow 1s linear;
}
.mymodal .modal_inner .modal_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.mymodal .modal_inner .modal_body .sign{
    color: var(--color-back);
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
}
.mymodal .modal_inner .modal_body .have{
    color: #98A781;
    text-align: center;
}
.mymodal .modal_inner .modal_body .have a{
    color: #1D974C;
}
.mymodal .modal_inner .modal_body form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
.mymodal .modal_inner .modal_body form input{
    margin-top: 20px;
    border: none;
    height: 40px;
    border-radius: 100px;
    padding: 5px 20px;
    background-color: white;
}
.mymodal .modal_inner .modal_body form .check{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mymodal .modal_inner .modal_body form .check label{
    margin-top: 30px;
    margin-left: 10px;
    color: var(--color-back);
}
.mymodal .modal_inner .modal_body form a{
    width: 100%;
    text-align: center;
    color: var(--color-back);
    margin-top: 10px;
}
.mymodal .modal_inner .modal_body a:hover{
    color: white;
}
.mymodal .modal_inner .modal_body form button{
    width: 100%;
    background-color: var(--color-back);
    border-radius: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;
    transition: all 0.5s;
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: center;
}
.mymodal .modal_inner .modal_body form button a{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.mymodal .modal_inner .modal_body form button:hover{
    background-color: white;
}
.mymodal .modal_inner .modal_body form button:hover > a{
    color: #17793D;
}
.mymodal .modal_inner .modal_body .or{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mymodal .modal_inner .modal_body .or .line{
    width: 150px;
    background-color: white;
    height: 2px;
}
.mymodal .modal_inner .modal_body .or .text{
    margin: 20px 10px;
    font-size: 14px;
}
.mymodal .modal_inner .modal_body .bt1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--color-back) solid 2px;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: var(--color-back);
}
.mymodal .modal_inner .modal_body .bt1 .icon{
    margin-right: 20px;
    font-size: 20px;
}
.mymodal .modal_inner .modal_body .bt1:hover{
    color: white;
    background-color: var(--color-back);
}

.mymodal2{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}
.mymodal2 .modal_inner{
    display: flex;
    width: 590px;
    padding:  50px 80px;
    flex-direction: column;
    align-items: center;
    background-color: #B4E37A;
    border-radius: 30px;
    position: relative;
    top: 1%;
    margin: auto;
    animation: modalShow 1s linear;
    height: 700px;
    overflow:auto;

}
.mymodal2 .modal_inner .modal_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.mymodal2 .modal_inner .modal_body .sign{
    color: var(--color-back);
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
}
.mymodal2 .modal_inner .modal_body .have{
    color: #98A781;
    text-align: center;
}
.mymodal2 .modal_inner .modal_body .have a{
    color: #1D974C;
}
.mymodal2 .modal_inner .modal_body form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
.mymodal2 .modal_inner .modal_body form input{
    margin-top: 20px;
    border: none;
    height: 40px;
    border-radius: 100px;
    padding: 5px 20px;
    background-color: white;
}
.mymodal2 .modal_inner .modal_body form .check{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mymodal2 .modal_inner .modal_body form .check label{
    margin-top: 30px;
    margin-left: 10px;
    color: var(--color-back);
}
.mymodal2 .modal_inner .modal_body form a{
    width: 100%;
    text-align: center;
    color: var(--color-back);
    margin-top: 10px;
}
.mymodal2 .modal_inner .modal_body a:hover{
    color: white;
}
.mymodal2 .modal_inner .modal_body form button{
    width: 100%;
    background-color: var(--color-back);
    color: white;
    border-radius: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;
    transition: all 0.5s;
}
.mymodal2 .modal_inner .modal_body form button:hover{
    background-color: white;
    color: #17793D;
}
.mymodal2 .modal_inner .modal_body .or{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mymodal2 .modal_inner .modal_body .or .line{
    width: 150px;
    background-color: white;
    height: 2px;
}
.mymodal2 .modal_inner .modal_body .or .text{
    margin: 20px 10px;
    font-size: 14px;
}
.mymodal2 .modal_inner .modal_body .bt1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--color-back) solid 2px;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: var(--color-back);
}
.mymodal2 .modal_inner .modal_body .bt1 .icon{
    margin-right: 20px;
    font-size: 20px;
}
.mymodal2 .modal_inner .modal_body .bt1:hover{
    color: white;
    background-color: var(--color-back);
}



.mymodal3{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}
.mymodal3 .modal_inner{
    display: flex;
    width: 590px;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    background-color: #B4E37A;
    border-radius: 15px;
    position: relative;
    top: 20%;
    margin: auto;
    animation: modalShow 0.5s linear;
    overflow:auto;
}
.mymodal3 .modal_inner .modal_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 30px;
    color: var(--color-back);
    align-items: center;
}
.mymodal3 .modal_inner .modal_header .text{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.mymodal3 .modal_inner .modal_header .text i{
    margin-right: 10px;
}
.mymodal3 .modal_inner .modal_body{
    font-size: 25px;
    color: var(--color-back);
}
.mymodal3 .modal_inner .modal_footer{
    width: 100%;
    display: flex;
    justify-content: end;
}
.mymodal3 .modal_inner .modal_footer .button{
    background-color: var(--color-back);
    transition: all 0.5s;
}
.mymodal3 .modal_inner .modal_footer .button:hover{
    background-color: #17793D;
}

/* modal3 */
.mymodal4{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}
.mymodal4 .modal_inner{
    display: flex;
    width: 750px;
    padding: 50px;
    flex-direction: column;
    align-items: start;
    background-color: #211544;
    border-radius: 15px;
    position: relative;
    top: 5%;
    margin: auto;
    animation: modalShow 0.5s linear;
    overflow:auto;
}
.mymodal4 .modal_inner .modal_header{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 30px;
    align-items: center;
}
.mymodal4 .modal_inner .modal_header i{
    color: white;
}
.mymodal4 .modal_body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mymodal4 .modal_body .d1{
    display: flex;
    align-items: center;
}
.mymodal4 .modal_body .d1 .ava{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.mymodal4 .modal_body .d1 .ava img{
    width: auto;
    height: 150px;
    margin-left: -120px;
}
.mymodal4 .modal_body .d1 .info{
    margin-left: 20px;
}
.mymodal4 .modal_body .d1 .info .name{
    font-size: 30px;
    font-weight: 700;
}
.mymodal4 .modal_body .d1 .info .game{
    color: var(--color-button-disc);
}
.mymodal4 .modal_body .d2{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}
.mymodal4 .modal_body .d2 .info{
    width: 70%;
    position: relative;
}
.mymodal4 .modal_body .d2 .info label{
    position: absolute;
    top: -30px;
}
.mymodal4 .modal_body .d2 .info .pri{
    background-color: white;
    border-radius: 100px;
    width: 100%;
    color: gray;
    padding: 10px;
}
.mymodal4 .modal_body .d2 .button{
    background-color: var(--color-button-disc);
    color: black;
    cursor: pointer;
}
.mymodal4 .modal_body .d2 .button i{
    margin-left: 10px;
}
.mymodal4 .modal_body .d2 .button:hover{
    background-color: white;
    border: 2px solid #1D974C;
    color: #1D974C;
}

/* modal4 */

.modal_user{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}
.modal_user .modal_inner{
    display: flex;
    width: 500px;
    padding: 50px;
    flex-direction: column;
    align-items: start;
    background-color: #211544;
    border-radius: 15px;
    position: relative;
    top: 15%;
    margin: auto;
    animation: modalShow 0.5s linear;
    overflow:auto;
}
.modal_user .modal_inner .modal_header{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 30px;
    align-items: center;
}
.modal_user .modal_inner .modal_header i{
    color: white;
}
.modal_user .modal_body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal_user .modal_body input{
    border-radius: 100px;
    padding: 5px 10px;
}
.modal_user .modal_footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.modal_user .modal_footer .button{
    background-color: var(--color-button-disc);
    color: black;
}
.modal_user .modal_footer .button:hover{
    background-color: white;
    border: 2px solid #1D974C;
    color: #1D974C;
}

@keyframes modalShow{
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}